In [21]:
import pandas as pd

In [39]:
df = pd.read_csv('../../data/interim/combined-sunlight-duration-data.csv', index_col = 0)

Empty DataFrame
Columns: [Date, Sunrise, Sunset, Daylength]
Index: []

In [40]:
def decimal_hr_calc(hrs, mins, secs):
    decimal_hrs = hrs + (mins / 60) + (secs / 3600)
    return round(decimal_hrs, 2)

In [41]:
decimal_hr_calc(10, 18, 52)

10.31

In [42]:
df['Daylength in decimal hours'] = [decimal_hr_calc(int(row.split(' ')[0][0:-1]),
                                                    int(row.split(' ')[1][:-1]),
                                                    int(row.split(' ')[2][:-1])) for row in df['Daylength']]

# df['Sunrise'] = pd.to_datetime(df['Sunrise'])
# df['Sunset'] = pd.to_datetime(df['Sunset'])

In [43]:
df

,Date,Sunrise,Sunset,Daylength,Daylength in decimal hours
0,11/17/2021,06:21:29 AM,04:41:21 PM,10h 19m 52s,10.33
1,11/18/2021,06:22:25 AM,04:40:52 PM,10h 18m 27s,10.31
2,11/19/2021,06:23:21 AM,04:40:25 PM,10h 17m 4s,10.28
3,11/20/2021,06:24:17 AM,04:39:59 PM,10h 15m 42s,10.26
4,11/21/2021,06:25:12 AM,04:39:35 PM,10h 14m 23s,10.24
...,...,...,...,...,...
405,12/27/2022,06:50:05 AM,04:45:28 PM,9h 55m 23s,9.92
406,12/28/2022,06:50:23 AM,04:46:09 PM,9h 55m 46s,9.93
407,12/29/2022,06:50:39 AM,04:46:50 PM,9h 56m 11s,9.94
408,12/30/2022,06:50:54 AM,04:47:33 PM,9h 56m 39s,9.94
409,12/31/2022,06:51:06 AM,04:48:17 PM,9h 57m 11s,9.95

In [48]:
df['Sunrise'] = pd.to_datetime(df['Date'] + ' ' + df['Sunrise'])
df['Sunset'] = pd.to_datetime(df['Date'] + ' ' + df['Sunset'])

df['Date'] = pd.to_datetime(df['Date'])
df.set_index('Date', inplace = True)

In [50]:
df.loc['2021-11-17':'2022-11-17']

,Sunrise,Sunset,Daylength,Daylength in decimal hours
Date,,,,
2021-11-17,2021-11-17 06:21:29,2021-11-17 16:41:21,10h 19m 52s,10.33
2021-11-18,2021-11-18 06:22:25,2021-11-18 16:40:52,10h 18m 27s,10.31
2021-11-19,2021-11-19 06:23:21,2021-11-19 16:40:25,10h 17m 4s,10.28
2021-11-20,2021-11-20 06:24:17,2021-11-20 16:39:59,10h 15m 42s,10.26
2021-11-21,2021-11-21 06:25:12,2021-11-21 16:39:35,10h 14m 23s,10.24
...,...,...,...,...
2022-11-13,2022-11-13 06:17:31,2022-11-13 16:43:44,10h 26m 13s,10.44
2022-11-14,2022-11-14 06:18:27,2022-11-14 16:43:07,10h 24m 40s,10.41
2022-11-15,2022-11-15 06:19:23,2022-11-15 16:42:33,10h 23m 10s,10.39
2022-11-16,2022-11-16 06:20:19,2022-11-16 16:42:00,10h 21m 41s,10.36
2022-11-17,2022-11-17 06:21:15,2022-11-17 16:41:29,10h 20m 14s,10.34